body {
	background:#222;	
	font-family:Georgia;
}

h3 {
	margin-bottom:0px;
	padding-bottom:0px;
}

label.header{
	font:16px Georgia;
	display:block;
	margin:15px 0 4px 0;
}
input.submit{
	float:right;
}

input.text{ 
	width:200px;
}

form{
	padding-bottom:20px;
}

#container{
	width:500px;
	margin: 10px 50px 10px 50px;
	padding:30px;
	background:#EEE;
	overflow: auto;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#header span {
	overflow:auto;
	float:left;
	margin-left:10px;
}

#header h1{ 
	color:#333;
	font-size:180%;
	padding-top:0px;
	margin-bottom:0;
	}
	
#header h2 { 
	display:inline;
	color:#444;
	font-size:150%;
	margin-top:20px;
}
	
#header img{
	display:inline;
	float:left;
	height:90px;
	width:90px;
}

#header { 
	overflow:auto;
	clear:both;
}