body {
	background:#222;	
	font:14px Georgia;
}

label.header{
	font:16px Georgia;
	display:block;
	margin:15px 0 4px 0;
}
input.submit{
	float:right;
}

input.text{ 
	width:200px;
}

form{
	padding-bottom:20px;
}

#container{
	width:500px;
	margin: 10px 50px 10px 50px;
	padding:30px;
	background:#DDD;	
}

/* Admin section */
div.question {
	margin:10px;
	margin-top:40px;
}

div.question div.main{	
	background-color: #999;
	padding:10px;
	overflow: auto;
	width: 100%
}

div.question div.opts {	
	background-color: #777;
	padding:10px;
	clear:both;
	overflow: auto;
	width: 100%
}

div.question label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}
div.question .small {
	color:#333;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
div.question input,textarea,select{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

div.question textarea{
	width:60%;
}
div.question div.delete {
	display:inline;
	float:right;
	margin-right:5px;	
	background:#FF9999;
	clear:both;
	padding:5px 10px 5px 10px;
}